:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(168, 168, 182);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;

  min-width: 320px;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
